{{- define "main" -}}
  <section class="max-w-prose m-auto">
    <header class="mb-12">
      <h1 class="font-black text-4xl">Notes</h1>
    </header>
    {{- $notes := where .Site.RegularPages "Section" "notes" -}}
    <ul class="space-y-4">
      {{- range $notes -}}
        <li>
          <h2 class="title font-black md:text-xl">
            <a href="{{- .RelPermalink -}}">
              {{- with .Title -}}
                {{- . -}}
                {{- else -}}
                {{- with .File -}}{{- .TranslationBaseName -}}{{- end -}}
              {{- end -}}
            </a>
          </h2>
          <span
            ><time
              datetime="{{- .Date.Format .Site.Params.time.RFC3339 -}}"
              class="text-sm text-offset"
            >
              {{- .Date.Format .Site.Params.time.Short -}}
            </time></span
          >
        </li>
      {{- end -}}
    </ul>
  </section>
{{- end -}}
