<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head" . }}
  <body
    class="antialiased bg-primary leading-normal overflow-x-hidden text-secondary text-body md:text-lg"
  >
    <script>
      (function () {
        try {
          let mode = localStorage.getItem("cosmonauta-felino");
          if (!mode) {
            let matches = window.matchMedia("(prefers-color-scheme: dark)")
              .matches;
            if (!matches) {
              return;
            }
            mode = "dark";
          }

          document.documentElement.classList.add(mode);
        } catch (e) {}
      })();
    </script>
    {{ partial "header" . }}
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "footer" . }}
    <script
      src="//instant.page/5.1.0"
      type="module"
      integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"
    ></script>
  </body>
</html>
