<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head" . }}
  <body
    class="antialiased bg-primary leading-normal overflow-x-hidden text-secondary md:text-lg text-base"
  >
    <script>
      (function () {
        try {
          let mode = localStorage.getItem("cosmonauta-felino");
          if (!mode) {
            let matches = window.matchMedia("(prefers-color-scheme: dark)")
              .matches;
            if (!matches) {
              return;
            }
            mode = "dark";
          }

          document.documentElement.classList.add(mode);
        } catch (e) {}
      })();
    </script>
    {{ partial "header" . }}
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
