@import "vars.css";
@import "tailwind.css";
@import "syntax.css";
@import "typography.css";
@import "theme.css";
@import "newsletter.css";

body {
  transition: color 0.2s ease-out, background 0.2s ease-out;
  font-family: "Merriweather", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
}

#content {
  ul {
    @apply ml-6 list-disc list-outside;
    li {
      @apply mb-2;
    }
  }

  a {
    @apply border-b;
    border-color: var(--color-secondary);
    padding: 0.1rem;
    font-weight: 400;
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }

  :not(.chroma) > code {
    color: var(--color-text);
    font-weight: 600;
    font-size: 0.875em;
    padding: 0.25em;
    background: var(--color-gray);
    border-radius: 0.25em;
  }

  .heading {
    display: inline-flex;
    align-items: baseline;
    color: var(--color-tertiary);

    & .permalink {
      border: 0;
      margin-left: 0.5em;

      &:hover {
        color: inherit;
        background: inherit;
      }
    }
  }

  blockquote {
    padding-left: 1em;
    border-left: 0.2em solid #4d91b3;
    font-style: italic;
  }
}

.posts-list {
  a span {
    @apply border-b;
    font-weight: 400;
    border-color: var(--color-secondary);
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }
}

.tags {
  @apply inline text-sm tracking-wide;
  a {
    @apply border-b;
    font-weight: 400;
    border-color: var(--color-secondary);
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }
}

.tags-list {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  li {
    a {
      @apply border-b;
      border-color: var(--color-secondary);
      padding: 0.1rem;
      transition-property: background-color, border-color, color;
      transition-duration: 200ms;
      &:hover {
        color: var(--color-primary);
        background-color: var(--color-secondary);
      }
    }
  }
}

.prev-next-post {
  @apply flex flex-wrap justify-between list-none p-0 m-0;
  li {
    a {
      @apply border-b;
      border-color: var(--color-secondary);
      padding: 0.1rem;
      transition-property: background-color, border-color, color;
      transition-duration: 200ms;
      &:hover {
        color: var(--color-primary);
        background-color: var(--color-secondary);
      }
    }
  }
}

footer nav {
  a {
    border-color: var(--color-secondary);
    padding: 0.1rem;
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }
}

.translation {
  a {
    border-color: var(--color-secondary);
    padding: 0.1rem;
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }
}

ol,
ul {
  @apply mb-4;
}
