@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
[data-theme="default"] {
  --color-bg: #ffffff;
  --color-text: #373a3c;
  --color-text-offset: #757d84;
  --color-primary: #0a84ff;
  --color-secondary: #67568c;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-black;
}

.main {
  & > * + * {
    margin-top: 2.4rem;

    @media screen {
      margin-top: 1.5rem;
    }
  }

  & > * {
    @apply leading-normal md:leading-9;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  a {
    color: var(--color-primary);
    &:hover {
      @apply underline;
    }
  }
}

.backlink {
  color: var(--color-primary);
  &:hover {
    @apply underline;
  }
}

a {
  &.external,
  &[href^="http"]:not([href*="https://algus.ninja"])
  {
    @apply bg-indigo-300 bg-opacity-25;
    color: var(--color-secondary);
    padding: 0.125rem 0.25rem;
  }

  &.dead-end {
    @apply bg-pink-300 bg-opacity-25 text-gray-700;
    padding: 0.125rem 0.25rem;
  }
}

footer ul li a {
  color: var(--color-text-offset) !important;
  padding: 0 !important;
}

.text-offset {
  color: var(--color-text-offset);
}

.backlinks > ul > li > a.backlink {
  display: inline-block;
}

h1.title::first-letter,
h2.title::first-letter,
.backlinks > ul > li > a.backlink::first-letter {
  text-transform: uppercase;
}

.prose .full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 1em;

  & img {
    margin: 0;
  }
}

.prose p:empty {
  @apply m-0;
}

/*! purgecss end ignore */
