:root {
  --color-primary: #ebebeb;
  --color-secondary: #10141a;
  --color-tertiary: #2c0b8e;
  --color-gray: #c3ced8;
}

.dark {
  --color-primary: #10141a;
  --color-secondary: #ebebeb;
  --color-tertiary: #fedb8b;
  --color-gray: #222f44;
}
