:root {
  --color-bg: #ebebeb;
  --color-body: #10141a;
  --color-gray: #c3ced8;
}

.dark {
  --color-bg: #10141a;
  --color-body: #ebebeb;
  --color-gray: #222f44;
  /* --color-feature-text: #fedb8b; */
}
