{{ define "main" }}
  {{ $lang := cond (eq .Site.Language.Lang "en") "" ( printf "/%s" .Site.Language.Lang ) }}
  <section class="container mx-auto">
    <article class="px-5 lg:px-32">
      <header class="mb-12">
        <h1 class="leading-tight">{{ .Title }}</h1>
        <p class="mb-0">
          <time datetime="{{ .Date.Format .Site.Params.time.RFC3339 }}">
            {{- .Date.Format .Site.Params.time.Default -}}
          </time>
        </p>
        {{ with .Params.tags }}
          <ul class="tags space-x-1">
            {{ range . }}
              <li class="inline-block">
                <a
                  href="{{ $lang }}/tags/{{ . | urlize }}/">
                  <span class="no-sr-only text-grey-darkest">#</span>
                  {{- . | lower | urlize -}}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </header>
      <div id="content">
        {{ .Content }}
      </div>
      <aside>
        <nav>
          <ul class="prev-next-post space-x-4">
            {{ if .PrevInSection }}
              <li class="text-left flex-grow mb-2">
                <a rel="prev" href="{{.PrevInSection.Permalink}}">← {{.PrevInSection.Title}}</a>
              </li>
            {{ end }}
            {{ if .NextInSection }}
              <li class="text-right flex-grow">
                <a rel="next" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} →</a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </aside>
      {{ partial "related" . }}
    </article>
  </section>
{{ end }}