<header class="text-center mx-auto mt-4 mb-12 px-4 lg:px-56 container">
  <a href="/{{ cond (eq .Site.Language.Lang "en") "" .Site.Language.Lang }}">
    <h1 class="tracking-tight uppercase leading-none mb-1 inline-block">
      {{ .Site.Title }}
    </h1>
  </a>
  <div class="flex flex-row items-center translation">
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <a href="{{ .Permalink }}" data-lang="{{ .Lang }}" title="{{ .Title }}"
          >{{ i18n "read" . }}</a
        >
      {{ end }}
    {{ end }}
    <button class="mode-button p-3 md:p-2 opacity-75 hover:opacity-100 transition-opacity ease-in-out duration-150 ml-auto outline-none" aria-label="Activate light mode" title="Activate light mode"><div></div><div></div></button>
  </div>
</header>
