<header class="py-4 md:py-12 mx-auto px-4">
  <div class="flex items-center justify-between mx-auto xl:px-16 px-0">
    <a class="flex items-center" href="/">
      <picture>
        <source type="image/webp" srcset="/images/avatar.webp" />
        <source type="image/jpeg" srcset="/images/avatar.jpg" />
        <img
          class="shadow-2xl rounded-full mr-4"
          src="/images/avatar.jpg"
          width="48"
          height="48"
        />
      </picture>
      <h1 class="text-lg md:text-2xl font-mono font-bold">Algus</h1>
    </a>
    <nav>
      <ul
        class="md:flex md:flex-wrap md:space-x-12 md:space-y-0 space-y-4 text-right tracking-wide"
      >
        <li>
          <a class="md:text-lg text-base font-mono font-bold" href="/notes"
            >Notes</a
          >
        </li>
        <li>
          <a class="md:text-lg text-base font-mono font-bold" href="/about"
            >About</a
          >
        </li>
        <li>
          <a class="md:text-lg text-base font-mono font-bold" href="/subscribe"
            >Subscribe</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
