{{ $title := cond .IsHome .Site.Title .Title }}

<head>
  <title>{{ if .Title }} {{ .Title }} {{ else }} {{ .Site.title }} {{ end }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

   <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | plainify }}{{ end }}">
    <meta name="twitter:site" content="{{ .Site.BaseURL }}">
    <meta name="twitter:creator" content="Algus Dark">
    <meta name="twitter:image" content="/images/avatar.jpg">
   
   <!-- Open-Graph Data -->
   <meta property="og:locale" content="{{ .Site.Params.LanguageCode }}">
   <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
   <meta property="og:title" content="{{ $title }}">
   <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | plainify }}{{ end }}">
   <meta property="og:url" content="{{ .Permalink }}">
   <meta property="og:site_name" content="{{ .Site.Title }}">
   <meta property="og:image" content="/images/avatar.jpg">

  {{ range .Params.tags }}
    <meta property="article:section" content="{{ . }}" />
  {{ end }}
  {{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
  {{ end }}
  <meta name="author" content="{{ .Site.Params.author.name }}">
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | plainify }}{{ end }}">

  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#fac24f">

  <!-- Translations -->
  {{ if .IsTranslated }}
    {{ range .Translations }}
      <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Site.Title }}">
    {{ end }}
  {{ end }}

  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink | absURL }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
    <link href="{{ .RelPermalink | absURL }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
  {{ end }}

  {{ with .Params.prev }}
    <link rel="prev" href="{{ . | absURL }}">
  {{ end }}
  {{ with .Params.next }}
    <link rel="next" href="{{ . | absURL }}">
  {{ end }}

  {{ if .IsPage }}
    {{ if .NextInSection }}
      <link rel="prefetch" href="{{ .NextInSection.Permalink }}">
    {{ end }}

    {{ if .PrevInSection }}
      <link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
    {{ end }}
  {{ end }}

  {{ with .Params.canonical }}
    <link href="{{ . }}" rel="canonical" />
  {{ end }}

  {{ if .IsPage }}
    <script type="application/ld+json">
     {{ if eq .Section "posts" }}
     {
       "@context": "http://schema.org",
       "@type": "BlogPosting",
       "headline": "{{ .Title }}",
       "keywords": {{ .Params.tags | jsonify }},
       "url": "{{ .Permalink }}",
       "datePublished": "{{ time .Date }}",
       "dateModified": "{{ time .Lastmod }}",
       "description": "{{ .Description }}",
       "wordCount": "{{ .WordCount }}",
       "author": {
         "@type": "Person",
         "name": "{{ .Site.Params.author.name }}"
       }
     }
     {{ else }}
     {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "{{ .Permalink }}",
       "name": "{{ .Title }}",
       "author": {
         "@type": "Person",
         "name": "{{ .Site.Params.author.name }}"
       },
       "description": "{{ .Site.Params.description }}",
     }
     {{ end }}
  </script>
  {{ end }}

  <link rel="shortcut icon" href="/favicon.ico?v=b4da24305011261eda53d710145bb524">
  <link
    rel="icon"
    href="/icons/icon-48x48.png?v=b4da24305011261eda53d710145bb524"
    type="image/png"
  />
  <link
    rel="apple-touch-icon"
    sizes="48x48"
    href="/icons/icon-48x48.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/icons/icon-72x72.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="96x96"
    href="/icons/icon-96x96.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/icons/icon-144x144.png?v=926303c16aa1147f7a60074c65d72f40"
  />
  <link
    rel="apple-touch-icon"
    sizes="192x192"
    href="/icons/icon-192x192.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="256x256"
    href="/icons/icon-256x256.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="384x384"
    href="/icons/icon-384x384.png?v=b4da24305011261eda53d710145bb524"
  />
  <link
    rel="apple-touch-icon"
    sizes="512x512"
    href="/icons/icon-512x512.png?v=b4da24305011261eda53d710145bb524"
  />

  <link rel="preload" as="font" type="font/woff2" href="/fonts/alegreya-v16-latin-800.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/fonts/inter-v2-latin-regular.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/fonts/inter-v2-latin-500.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/fonts/inter-v2-latin-700.woff2" crossorigin>

  {{ $styles := resources.Get "css/main.css" }}
  {{ $styles = $styles | postCSS (dict "config" "./assets/postcss.config.js")  }}

  {{ if hugo.IsProduction }}
    {{ $styles = $styles | postCSS (dict "config" "./assets/postcss.config.js") | minify | fingerprint }}
  {{ end }}

  <link href="{{ $styles.Permalink }}" rel="stylesheet" />

  {{ $defines := dict "process.env.NODE_ENV" `"development"` }}
  {{ $opts := dict "defines" $defines }}
  {{ $js := resources.Get "js/main.ts" | js.Build $opts }}

  {{ if hugo.IsProduction }}
    {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
    {{ $opts := dict "defines" $defines }}
    {{ $js := resources.Get "js/main.ts" | js.Build $opts | minify | fingerprint }}
  {{end}}

  <script defer src="{{ $js.Permalink | relURL }}"></script>
</head>
