{{ $posts := where (where $.Site.RegularPages "Section" "posts") ".Params.title" "!=" .Title }}

{{ if $posts }}
  <aside class="lg:w-9/12 w-11/12 mx-auto">
    <header class="mb-8">
      <h2>{{ i18n "keep_reading" . }}</h2>
    </header>
    <ul class="posts-list space-y-2">
      {{ range $posts }}
        <li>
          <a href="{{ .RelPermalink }}">
            <span>
              {{ .Title }}
            </span>
            <time
              datetime="{{ .Date.Format .Site.Params.time.RFC3339 }}"
              class="text-sm sm:ml-2 w-full sm:w-24 inline-block"
            >
              {{- .Date.Format .Site.Params.time.Short -}}
            </time>
          </a>
        </li>
      {{ end }}
    </ul>
  </aside>
{{ end }}
