{{- define "main" -}}
  <main class="max-w-full prose lg:prose-xl">
    {{- with .Site.GetPage "/notes/_index.md" -}}
      {{- partial "content" . -}}
    {{- end -}}
    <p>
      {{- $scratch := newScratch -}}
      {{- range .Site.RegularPages -}}
        {{- $scratch.Add "files" 1 -}}
        {{- $scratch.Add "words" .WordCount -}}
      {{- end -}}
      Éste sitio está compuesto por
      <strong>{{ $scratch.Get "words" | lang.NumFmt 0 }} palabras</strong>
      distribuidas entre
      <a class="font-bold" href="/notes"
        >{{ $scratch.Get "files" | lang.NumFmt 0 }} notas</a
      >.
    </p>
  </main>
{{- end -}}
