{{ $dir := .Page.File.Dir }}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $img := imageConfig ($src | printf "content/%s/%s" $dir) }}
{{ $isFull := .Get "full" | default false }}

{{ $image := .Get "src"}}
{{ $type_arr := split $image "." }}
{{ $srcbase := index $type_arr 0 }}

<figure class="flex flex-col items-center mb-8 {{cond $isFull "full-bleed" ""}}">
  <picture>
    {{with .Page.Resources.GetMatch (printf "%s.webp" $srcbase)}}
      <source type="image/webp" srcset="{{.Name}}">
    {{end}}
    {{with .Page.Resources.GetMatch (printf "%s.jpg" $srcbase)}}
      <source type="image/jpeg" srcset="{{.Name}}">
    {{end}}
    <img
      class="rounded-md shadow-lg"
      src="{{ .Get "src" | safeURL }}"
      {{with .Get "alt"}} alt="{{ . }}"{{ end }}
      {{with .Get "title"}} title="{{ . }}"{{ end }}
      loading="lazy"
      width="{{$img.Width}}"
      height="{{$img.Height}}"
      />
    {{with .Get "caption"}}<figcaption class="text-center mt-2 text-sm" >{{. | safeHTML}}</figcaption>{{end}}
  </picture>
</figure>