{{ $dir := .Page.File.Dir }}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $img := imageConfig ($src | printf "content/%s/%s" $dir) }}
{{ $isFull := .Get "full" | default false }}

<figure class="flex flex-col items-center mb-8 {{cond $isFull "full-bleed" ""}}">
  <img
    class="rounded-md shadow-lg"
    src="{{ .Get "src" | safeURL }}"
    {{with .Get "alt"}} alt="{{ . }}"{{ end }}
    {{with .Get "title"}} title="{{ . }}"{{ end }}
    width="{{$img.Width}}"
    height="{{$img.Height}}"
    />
</figure>